.mail{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 50%;
    height: 100%;
    background-color: darkslateblue;
    color: white;
}

.mailButton{
    margin: 30px;
    
  
}

h1{
  margin: 20px;   
}