
.topbar{
    width: 100%;
    height: 50px;
    background-color: rgb(23, 35, 202);
    position: sticky; /*header should show when scrolled*/
    top: 0;
    z-index: 999; /*avoid override*/
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}


.logo{
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;
}

.topRight{
    
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    color: whitesmoke;
}

.topbarIconContainer{
    position: relative;
}

.topIconBadge{
    position: absolute;
    width: 15px;
    height: 15px;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
