.newProduct{
    flex: 4;
    margin: 20px;
    padding: 10px;
    
}

.addProductForm{
    background-color:peru;
    margin: 20px;
    padding: 10px;
  -webkit-box-shadow: 5px 10px 9px 2px #000000; /*to make shadpw of box*/
    box-shadow: 5px 10px 9px 2px #000000;
}

.addProductItem{
   width: 250px;
   display: flex;
   flex-direction: column;
  
   margin-bottom: 10px;

}

.addProductItem>label{
    margin-bottom: 10px;
   
    color: rgb(31, 34, 221);
    font-weight: 600;
}

.addProductItem>input{
  
   padding: 10px;

}
    

.addProductGender>select{
   padding: 10px;
}

.addProductGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
 }

.addProductSelect{
    height: 14;
    border-radius: 5px;
}

.addProductButton{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}